body{
    background-color: rgb(163, 163, 163);
    display: grid;
}
.heading{
color: white;
font-family: cursive;
font-weight: 700;
letter-spacing: 3px;
font-size: 250%;
margin-left: 15%;
}
.add-question{
    background: none;
    border-style: solid;
    border-color: red;
  color: black;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 140%;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 12.1%;
  margin-left: 15%;
  border-radius: 5px;
}
.add-question:hover{
    background-color: red;
    color: white;
    padding: 1.5% 1.5%;
    width: 13%;
}
.pop-up-question-box{
    width: 40%;
    background: none;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    margin-left: 15%;
    margin-top: 1%;
    border-radius: 5px;
    background-color: rgb(189, 189, 189);
    font-size: 110%;
    display: grid;
}
.close-pop-up{
    width: 4%;
    font-size: 100%;
    border-style: none;
    text-align: center;
    /* padding-right: 1%; */
    margin-top: 1%;
    margin-left: 95%;
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 3px;
}
.close-pop-up:hover{
background-color: rgb(1, 83, 79);
}
textarea{
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    border-color: red;
    border-width: 1px;
    font-size: 150%;
}
.save{
    margin-left: 5%;
    width: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    border-width: 2px;
    padding: 1%;
    background: none;
    border-color: rgb(1, 83, 79);
    cursor: pointer;
    font-size: 150%;
    transition: 0.4s;
}
.save:hover{
    background-color: rgb(1, 83, 79);
    color: white;
}
.hidden{
    display: none;
}
section{
    flex-wrap: wrap;
    width: 80%;
    margin-left: 15%;
    margin-top: 2.1%;
}
.items{
    background-color: rgb(218, 218, 218);
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.473);
    border-radius: 5px;
    margin-right: 3%;
    margin-bottom: 3%;
}
.question-in-list{
    width: 90%;
    margin-left: 5%;
    font-size: 120%;
    font-family: cursive;
    font-weight: 600;
    margin-top: 4%;
    margin-bottom: 4%;
}
.showandhideanswer{
    background: none;
    border-style: none;
    margin-left: 4%;
    font-size: 100%;
    color: blue;
}
.showandhideanswer:hover{
    text-decoration: underline;
    cursor: pointer;
}
.answer-in-list{
    width: 90%;
    margin-left: 5%;
    font-size: 120%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-top: 4%;
    margin-bottom: 4%;
    color: forestgreen;
}
.edit{
    border-style: solid;
    border-color: red;
    background: none;
    font-size: 100%;
    padding: 3%;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 5%;
    cursor: pointer;
    margin-bottom: 5%;
    transition: 0.4s;
}
.edit:hover{
    background-color: red;
    color: white;
}
.delete{
    border-style: solid;
    border-color: red;
    background: none;
    font-size: 100%;
    padding: 3%;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 41%;
    cursor: pointer;
    margin-bottom: 5%;
    transition: 0.4s;
}
.delete:hover{
    background-color: red;
    color: white;
}